$color__dark--black: #282c34;
$color__dark--red: #e06c75;
$color__dark--green: #98c379;
$color__dark--yellow: #e5c07b;
$color__dark--blue: #61afef;
$color__dark--magenta: #c678dd;
$color__dark--cyan: #56b6c2;
$color__dark--white: #dcdfe4;

$color__dark--background: $color__dark--black;
$color__dark--foreground: $color__dark--white;

body[dark] {
  background-color: $color__dark--background;
  color: $color__dark--foreground;

  a {
    color: $color__dark--blue;
  }
}

@import "navbar";
@import "panel";
@import "tag";
