body[dark] {
  x-nav {
    &, &[primary] {
      background-color: $color__dark--white;
      x-nav-item {
        background-color: $color__dark--white;
        &[active], &:hover {
          background-color: darken($color__dark--white, 10%);
        }
        > * {
          color: $color__dark--background;
        }
      }
    }
    &[secondary] {
      background-color: $color__dark--red;
      x-nav-item {
        background-color: $color__dark--red;
        &[active], &:hover {
          background-color: darken($color__dark--red, 10%);
        }
        > * {
          color: $color__dark--background;
        }
      }
    }
  }
}
