x-tag {
  x-side {
    &[red] {
      background-color: $color__dark--red;
    }
    &[green] {
      background-color: $color__dark--green;
    }
    &[yellow] {
      background-color: $color__dark--yellow;
    }
    &[blue] {
      background-color: $color__dark--blue;
    }
    &[magenta] {
      background-color: $color__dark--magenta;
    }
    &[cyan] {
      background-color: $color__dark--cyan;
    }
  }
}
