$toggle__button: true !default;
$toggle__grid: true !default;
$toggle__navbar: true !default;
$toggle__panel: true !default;
$toggle__tag: true !default;

$padding--small: 0.2rem;
$padding--normal: 0.4rem;
$padding--large: 0.6rem;

$height--small: 1.5rem;
$height--normal: 2.5rem;
$height--large: 3.5rem;

$breakpoint: 760px;
