<!DOCTYPE html>
<html lang="en">
    
<head>
    {% block head %}
    <title>{% block title %}{% endblock title %} - StoryArchive</title>
    {% endblock head %}
    <style>{{ css }}</style>
</head>

<body>
    {% include "partials/navbar" %}
    
    {% block content %}{% endblock content %}
    
    <script>
        var time = new Date().getHours();
        if ((time >= 20 && time <= 23) || (time >= 0 && time <= 4)) {
            document.body.setAttribute("dark", "");
        } else {
            document.body.setAttribute("light", "");
        }
    </script>
</body>

</html>