article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  height: 100%;
  min-height: 100%; }

html {
  font-size: 1.6rem;
  height: 100%;
  min-height: 100%; }

* {
  text-decoration: none; }

h1, h2, h3, h4 {
  margin: 0; }

*[main] {
  flex: 1 auto; }

x-button,
a[button],
button {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0.2rem 0;
  outline: none;
  padding: 0.2rem; }

x-group {
  display: flex; }
  x-group x-button,
  x-group a[button],
  x-group button {
    flex: 0 1 auto; }
  x-group[full] {
    justify-content: space-between; }

x-grid {
  display: flex; }
  x-grid[flex] {
    flex: 1 auto; }
  x-grid x-column {
    box-sizing: border-box;
    flex: 1;
    margin: 0.2rem; }
    x-grid x-column[no-margin] {
      margin: 0; }
    x-grid x-column[flex] {
      display: flex; }
    x-grid x-column[nowrap] {
      flex-wrap: nowrap; }
  x-grid x-column[size="1"] {
    box-sizing: border-box;
    flex: 1;
    margin: 0.2rem; }
    x-grid x-column[size="1"][no-margin] {
      margin: 0; }
  x-grid x-column[size="2"] {
    box-sizing: border-box;
    flex: 2;
    margin: 0.2rem; }
    x-grid x-column[size="2"][no-margin] {
      margin: 0; }
  x-grid x-column[size="3"] {
    box-sizing: border-box;
    flex: 3;
    margin: 0.2rem; }
    x-grid x-column[size="3"][no-margin] {
      margin: 0; }
  x-grid x-column[size="4"] {
    box-sizing: border-box;
    flex: 4;
    margin: 0.2rem; }
    x-grid x-column[size="4"][no-margin] {
      margin: 0; }
  x-grid x-column[size="5"] {
    box-sizing: border-box;
    flex: 5;
    margin: 0.2rem; }
    x-grid x-column[size="5"][no-margin] {
      margin: 0; }
  x-grid x-column[size="6"] {
    box-sizing: border-box;
    flex: 6;
    margin: 0.2rem; }
    x-grid x-column[size="6"][no-margin] {
      margin: 0; }
  x-grid x-column[size="7"] {
    box-sizing: border-box;
    flex: 7;
    margin: 0.2rem; }
    x-grid x-column[size="7"][no-margin] {
      margin: 0; }
  x-grid x-column[size="8"] {
    box-sizing: border-box;
    flex: 8;
    margin: 0.2rem; }
    x-grid x-column[size="8"][no-margin] {
      margin: 0; }
  x-grid x-column[size="9"] {
    box-sizing: border-box;
    flex: 9;
    margin: 0.2rem; }
    x-grid x-column[size="9"][no-margin] {
      margin: 0; }
  x-grid x-column[size="10"] {
    box-sizing: border-box;
    flex: 10;
    margin: 0.2rem; }
    x-grid x-column[size="10"][no-margin] {
      margin: 0; }
  x-grid x-column[size="11"] {
    box-sizing: border-box;
    flex: 11;
    margin: 0.2rem; }
    x-grid x-column[size="11"][no-margin] {
      margin: 0; }
  x-grid x-column[size="12"] {
    box-sizing: border-box;
    flex: 12;
    margin: 0.2rem; }
    x-grid x-column[size="12"][no-margin] {
      margin: 0; }
  @media (max-width: 760px) {
    x-grid {
      display: block; } }

input, textarea, select {
  border: 1px solid transparent;
  box-sizing: border-box;
  display: block;
  margin: 0.2rem 0;
  outline: none;
  padding: 0.2rem;
  width: 100%; }

x-nav {
  display: flex;
  flex-wrap: nowrap; }
  x-nav x-nav-item {
    flex: 0 1 auto; }
    x-nav x-nav-item[brand] {
      font-weight: bold; }
    x-nav x-nav-item[grow] {
      flex: 1 1 auto; }
    x-nav x-nav-item > * {
      display: block;
      line-height: 1.5rem;
      padding: 0 0.4rem;
      text-decoration: none;
      white-space: nowrap; }
  x-nav x-nav-section {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    padding: 0 0.2rem; }
    x-nav x-nav-section[grow] {
      flex: 1 1 auto; }
    x-nav x-nav-section[overflow] {
      overflow-y: auto; }
  x-nav[overflow] {
    overflow-y: auto; }

x-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
  padding: 0.2rem; }
  x-panel x-panel-head {
    padding: 0.2rem; }
  x-panel x-panel-body {
    padding: 0.2rem; }
  x-panel x-panel-foot {
    padding: 0.2rem; }

x-tag {
  display: flex;
  flex: 0 1 auto; }
  x-tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  x-tag x-side {
    flex: 0 1 auto;
    flex-wrap: nowrap;
    padding: 0.2rem; }

body[dark] {
  background-color: #282c34;
  color: #dcdfe4; }
  body[dark] a {
    color: #61afef; }

body[dark] x-button,
body[dark] a[button],
body[dark] button {
  background-color: transparent;
  border: 1px solid #dcdfe4;
  box-sizing: border-box;
  color: #dcdfe4; }
  body[dark] x-button:hover, body[dark] x-button:active,
  body[dark] a[button]:hover,
  body[dark] a[button]:active,
  body[dark] button:hover,
  body[dark] button:active {
    background-color: #dcdfe4;
    color: #282c34; }
  body[dark] x-button[error],
  body[dark] a[button][error],
  body[dark] button[error] {
    background-color: #e06c75;
    border: 1px solid #e06c75;
    color: #282c34; }
  body[dark] x-button[success],
  body[dark] a[button][success],
  body[dark] button[success] {
    background-color: #98c379;
    border: 1px solid #98c379;
    color: #282c34; }

body[dark] input,
body[dark] textarea,
body[dark] select {
  background-color: #282c34;
  border-color: #dcdfe4;
  color: #dcdfe4; }
  body[dark] input:hover,
  body[dark] textarea:hover,
  body[dark] select:hover {
    border-color: #56b6c2; }
  body[dark] input:focus,
  body[dark] textarea:focus,
  body[dark] select:focus {
    background-color: #282c34;
    border-color: #61afef; }
  body[dark] input[error],
  body[dark] textarea[error],
  body[dark] select[error] {
    border-color: #e06c75; }
  body[dark] input[success],
  body[dark] textarea[success],
  body[dark] select[success] {
    border-color: #98c379; }

body[dark] x-nav, body[dark] x-nav[primary] {
  background-color: #dcdfe4; }
  body[dark] x-nav x-nav-item, body[dark] x-nav[primary] x-nav-item {
    background-color: #dcdfe4; }
    body[dark] x-nav x-nav-item[active], body[dark] x-nav x-nav-item:hover, body[dark] x-nav[primary] x-nav-item[active], body[dark] x-nav[primary] x-nav-item:hover {
      background-color: #bfc5ce; }
    body[dark] x-nav x-nav-item > *, body[dark] x-nav[primary] x-nav-item > * {
      color: #282c34; }

body[dark] x-nav[secondary] {
  background-color: #e06c75; }
  body[dark] x-nav[secondary] x-nav-item {
    background-color: #e06c75; }
    body[dark] x-nav[secondary] x-nav-item[active], body[dark] x-nav[secondary] x-nav-item:hover {
      background-color: #d7424d; }
    body[dark] x-nav[secondary] x-nav-item > * {
      color: #282c34; }

body[dark] x-panel[outline] {
  border: 1px solid #dcdfe4; }

x-tag x-side[red] {
  background-color: #e06c75; }

x-tag x-side[green] {
  background-color: #98c379; }

x-tag x-side[yellow] {
  background-color: #e5c07b; }

x-tag x-side[blue] {
  background-color: #61afef; }

x-tag x-side[magenta] {
  background-color: #c678dd; }

x-tag x-side[cyan] {
  background-color: #56b6c2; }

body[light] {
  background-color: #fafafa;
  color: #383a42; }
  body[light] a {
    color: #0184bc; }

body[light] x-button,
body[light] a[button],
body[light] button {
  background-color: transparent;
  border: 1px solid #383a42;
  color: #383a42; }
  body[light] x-button:hover, body[light] x-button:active,
  body[light] a[button]:hover,
  body[light] a[button]:active,
  body[light] button:hover,
  body[light] button:active {
    background-color: #383a42;
    color: #fafafa; }
  body[light] x-button[error],
  body[light] a[button][error],
  body[light] button[error] {
    background-color: #e45649;
    border: 1px solid #e45649;
    color: #fafafa; }
  body[light] x-button[success],
  body[light] a[button][success],
  body[light] button[success] {
    background-color: #50a14f;
    border: 1px solid #50a14f;
    color: #fafafa; }

body[light] input,
body[light] textarea,
body[light] select {
  background-color: #fafafa;
  border-color: #383a42;
  color: #383a42; }
  body[light] input:hover,
  body[light] textarea:hover,
  body[light] select:hover {
    border-color: #0997b3; }
  body[light] input:focus,
  body[light] textarea:focus,
  body[light] select:focus {
    background-color: #fafafa;
    border-color: #0184bc; }
  body[light] input[error],
  body[light] textarea[error],
  body[light] select[error] {
    border-color: #e45649; }
  body[light] input[success],
  body[light] textarea[success],
  body[light] select[success] {
    border-color: #50a14f; }

body[light] x-nav, body[light] x-nav[primary] {
  background-color: #383a42; }
  body[light] x-nav x-nav-item, body[light] x-nav[primary] x-nav-item {
    background-color: #383a42; }
    body[light] x-nav x-nav-item[active], body[light] x-nav x-nav-item:hover, body[light] x-nav[primary] x-nav-item[active], body[light] x-nav[primary] x-nav-item:hover {
      background-color: #212226; }
    body[light] x-nav x-nav-item > *, body[light] x-nav[primary] x-nav-item > * {
      color: #fafafa; }

body[light] x-nav[secondary] {
  background-color: #e45649; }
  body[light] x-nav[secondary] x-nav-item {
    background-color: #e45649; }
    body[light] x-nav[secondary] x-nav-item[active], body[light] x-nav[secondary] x-nav-item:hover {
      background-color: #da3020; }
    body[light] x-nav[secondary] x-nav-item > * {
      color: #fafafa; }

body[light] x-panel[outline] {
  border: 1px solid #383a42; }

x-tag x-side[red] {
  background-color: #e45649; }

x-tag x-side[green] {
  background-color: #50a14f; }

x-tag x-side[yellow] {
  background-color: #c18401; }

x-tag x-side[blue] {
  background-color: #0184bc; }

x-tag x-side[magenta] {
  background-color: #a626a4; }

x-tag x-side[cyan] {
  background-color: #0997b3; }
