x-grid {
  display: flex;
  &[flex] {
    flex: 1 auto;
  }
  x-column {
    box-sizing: border-box;
    flex: 1;
    margin: $padding--small;
    &[no-margin] {
      margin: 0;
    }
    &[flex] {
      display: flex;
    }
    &[nowrap] {
      flex-wrap: nowrap;
    }
  }
  @for $i from 1 through 12 {
    x-column[size="#{$i}"] {
      box-sizing: border-box;
      flex: $i;
      margin: $padding--small;
      &[no-margin] {
        margin: 0;
      }
    }
  }
  @media (max-width: $breakpoint) {
    display: block;
  }
}
