x-grid {
  display: flex;
  x-column, x-column[size="1"] {
    flex: 1;
  }
  @for $i from 2 through 12 {
    x-column[size="#{$i}"] {
      flex: $i;
    }
  }
  @media (max-width: $breakpoint) {
    display: block;
  }
}
