input, textarea, select {
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    margin: $padding--small 0;
    outline: none;
    padding: $padding--small;
    width: 100%;
}