x-nav {
  display: flex;
  flex-wrap: nowrap;
  x-nav-item {
    flex: 0 1 auto;
    &[brand] {
      font-weight: bold;
    }
    &[grow] {
      flex: 1 1 auto;
    }
    > * {
      display: block;
      line-height: $height--small;
      padding: 0 $padding--normal;
      text-decoration: none;
      white-space: nowrap;
    }
  }
  x-nav-section {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    padding: 0 $padding--small;
    &[grow] {
      flex: 1 1 auto;
    }
    &[overflow] {
      overflow-y: auto;
    }
  }
}
