x-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding--small;
  padding: $padding--small;
  x-panel-head {
    padding: $padding--small;
  }
  x-panel-body {
    padding: $padding--small;
  }
  x-panel-foot {
    padding: $padding--small;
  }
}
