$color__light--black: #383a42;
$color__light--red: #e45649;
$color__light--green: #50a14f;
$color__light--yellow: #c18401;
$color__light--blue: #0184bc;
$color__light--magenta: #a626a4;
$color__light--cyan: #0997b3;
$color__light--white: #fafafa;

$color__light--background: $color__light--white;
$color__light--foreground: $color__light--black;

body[light] {
  background-color: $color__light--background;
  color: $color__light--foreground;

  a {
    color: $color__light--blue;
  }
}

@import "navbar";
@import "panel";
@import "tag";
