body[light] {
  x-nav {
    &, &[primary] {
      background-color: $color__light--black;
      x-nav-item {
        background-color: $color__light--black;
        &[active], &:hover {
          background-color: darken($color__light--black, 10%);
        }
        > * {
          color: $color__light--background;
        }
      }
    }
    &[secondary] {
      background-color: $color__light--red;
      x-nav-item {
        background-color: $color__light--red;
        &[active], &:hover {
          background-color: darken($color__light--red, 10%);
        }
        > * {
          color: $color__light--background;
        }
      }
    }
  }
}
